CalServiceClient/CalService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.com" xmlns:intf="http://service.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="subtract">
    <complexType>
     <sequence>
      <element name="i" type="xsd:int"/>
      <element name="j" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="subtractResponse">
    <complexType>
     <sequence>
      <element name="subtractReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="add">
    <complexType>
     <sequence>
      <element name="i" type="xsd:int"/>
      <element name="j" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="subtractRequest">

      <wsdl:part element="impl:subtract" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subtractResponse">

      <wsdl:part element="impl:subtractResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CalService">

      <wsdl:operation name="subtract">

         <wsdl:input message="impl:subtractRequest" name="subtractRequest">

       </wsdl:input>

         <wsdl:output message="impl:subtractResponse" name="subtractResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalServiceSoapBinding" type="impl:CalService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="subtract">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subtractRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="subtractResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalServiceService">

      <wsdl:port binding="impl:CalServiceSoapBinding" name="CalService">

         <wsdlsoap:address location="http://localhost:8080/MyFirstWebService/services/CalService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
